@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Outfit:wght@300;400;500;700&family=Syncopate:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #111;
  overflow: hidden; }
  #wrap .navibar {
    width: 100%;
    height: 8vh;
    background: #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  #wrap .bg li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.5s; }
    #wrap .bg li.on {
      opacity: 1; }
    #wrap .bg li:nth-of-type(1) {
      background-image: url(../img/bg1.jpg); }
    #wrap .bg li:nth-of-type(2) {
      background-image: url(../img/bg2.jpg); }
    #wrap .bg li:nth-of-type(3) {
      background-image: url(../img/bg3.jpg); }
    #wrap .bg li:nth-of-type(4) {
      background-image: url(../img/bg4.jpg);
      background-position: center 42%; }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 60vw;
      height: 70vh;
      position: relative;
      top: 17vh;
      left: 10vw; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        background: white;
        padding: 60px;
        opacity: 0;
        transition: opacity 1s;
        position: relative; }
        #wrap .swiper-wrapper .swiper-slide .inner::after {
          content: '';
          display: block;
          height: 100%;
          width: 3px;
          background: #111;
          position: absolute;
          top: 0;
          left: 110px; }
        #wrap .swiper-wrapper .swiper-slide .inner h1 {
          font: bold 72px/1 'Syncopate';
          color: #111;
          position: absolute;
          bottom: 0;
          left: 0;
          margin-left: 60px;
          transform: rotate(-90deg);
          transform-origin: left center; }
        #wrap .swiper-wrapper .swiper-slide .inner .content .txt .subtitle {
          margin-bottom: 30px; }
          #wrap .swiper-wrapper .swiper-slide .inner .content .txt .subtitle li {
            margin-bottom: 5px; }
            #wrap .swiper-wrapper .swiper-slide .inner .content .txt .subtitle li p {
              display: inline-block;
              background: #222;
              position: relative;
              overflow: hidden;
              box-sizing: content-box;
              padding: 5px; }
              #wrap .swiper-wrapper .swiper-slide .inner .content .txt .subtitle li p::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: #fff;
                transition-duration: 1s;
                transition-delay: 0.5s;
                transition-timing-function: cubic-bezier(0.66, 0.08, 0, 0.98); }
              #wrap .swiper-wrapper .swiper-slide .inner .content .txt .subtitle li p span {
                font: 400 26px/1 'Outfit';
                color: #fff;
                letter-spacing: 1px; }
            #wrap .swiper-wrapper .swiper-slide .inner .content .txt .subtitle li:nth-of-type(2) p::after {
              transition-delay: 0.75s; }
        #wrap .swiper-wrapper .swiper-slide .inner .content .txt > p {
          font: 400 16px/1.8 'Noto Sans KR';
          color: #444;
          margin-bottom: 30px; }
          #wrap .swiper-wrapper .swiper-slide .inner .content .txt > p:last-of-type {
            margin-bottom: 40px; }
        #wrap .swiper-wrapper .swiper-slide .inner .content .txt .btns {
          font-size: 0; }
          #wrap .swiper-wrapper .swiper-slide .inner .content .txt .btns a {
            display: inline-block;
            font: 500 15px/1 'Outfit';
            color: #444;
            padding: 15px 20px; }
            #wrap .swiper-wrapper .swiper-slide .inner .content .txt .btns a i {
              font-size: 12px;
              margin-right: 5px;
              color: #444; }
            #wrap .swiper-wrapper .swiper-slide .inner .content .txt .btns a:nth-of-type(1) {
              border-top: 2px solid #333;
              border-bottom: 2px solid #333;
              border-right: 2px solid #333; }
            #wrap .swiper-wrapper .swiper-slide .inner .content .txt .btns a:nth-of-type(2) {
              border-top: 2px solid #333;
              border-bottom: 2px solid #333; }
      #wrap .swiper-wrapper .swiper-slide.swiper-slide-active .inner {
        opacity: 1; }
        #wrap .swiper-wrapper .swiper-slide.swiper-slide-active .inner .content .txt .subtitle li p::after {
          width: 0% !important; }
      #wrap .swiper-wrapper .swiper-slide.about .inner .content {
        width: 100%;
        height: 100%; }
        #wrap .swiper-wrapper .swiper-slide.about .inner .content::after {
          content: '';
          display: block;
          clear: both; }
        #wrap .swiper-wrapper .swiper-slide.about .inner .content .txt {
          padding-left: 110px;
          width: 37vw;
          height: 100%;
          float: left; }
          #wrap .swiper-wrapper .swiper-slide.about .inner .content .txt > p span {
            display: block;
            font: 400 15px/1 'Outfit';
            color: #444;
            margin-bottom: 10px;
            letter-spacing: 1px; }
            #wrap .swiper-wrapper .swiper-slide.about .inner .content .txt > p span:first-of-type {
              font: 400 18px/1 'Outfit';
              color: #222;
              margin-bottom: 20px;
              font-style: italic; }
          #wrap .swiper-wrapper .swiper-slide.about .inner .content .txt > p strong {
            text-decoration: underline;
            font-weight: 400; }
        #wrap .swiper-wrapper .swiper-slide.about .inner .content .thumbnail {
          width: 12vw;
          height: 100%;
          margin-left: 2vw;
          float: right; }
          #wrap .swiper-wrapper .swiper-slide.about .inner .content .thumbnail img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center; }
      #wrap .swiper-wrapper .swiper-slide.web .inner .content {
        width: 100%;
        height: 100%; }
        #wrap .swiper-wrapper .swiper-slide.web .inner .content::after {
          content: '';
          display: block;
          clear: both; }
        #wrap .swiper-wrapper .swiper-slide.web .inner .content .thumbnail {
          padding-left: 110px;
          width: 40%;
          height: 100%;
          margin-right: 2vw;
          float: left;
          position: relative;
          overflow: hidden; }
          #wrap .swiper-wrapper .swiper-slide.web .inner .content .thumbnail img {
            position: absolute;
            top: 0;
            left: 110px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
            transition: 0.5s;
            cursor: pointer; }
            #wrap .swiper-wrapper .swiper-slide.web .inner .content .thumbnail img:nth-of-type(1) {
              z-index: 1; }
          #wrap .swiper-wrapper .swiper-slide.web .inner .content .thumbnail::after {
            content: 'jQuery Web';
            display: block;
            position: absolute;
            top: 30px;
            left: 140px;
            font: 400 17px/1 'Outfit';
            color: #fff;
            text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
            z-index: 2; }
          #wrap .swiper-wrapper .swiper-slide.web .inner .content .thumbnail:hover img:nth-of-type(1) {
            opacity: 0; }
          #wrap .swiper-wrapper .swiper-slide.web .inner .content .thumbnail:hover::after {
            content: 'Vanilla JS'; }
        #wrap .swiper-wrapper .swiper-slide.web .inner .content .txt {
          width: 55%;
          height: 100%;
          float: right;
          padding-right: 70px;
          overflow-y: scroll; }
          #wrap .swiper-wrapper .swiper-slide.web .inner .content .txt > p span {
            display: block;
            font: 400 15px/1 'Noto Sans KR';
            color: #666;
            margin-bottom: 10px; }
            #wrap .swiper-wrapper .swiper-slide.web .inner .content .txt > p span:first-of-type {
              font: 500 16px/1 'Outfit';
              color: #333;
              margin-bottom: 10px;
              margin-top: 45px;
              font-style: italic; }
            #wrap .swiper-wrapper .swiper-slide.web .inner .content .txt > p span strong {
              display: inline-block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 1px solid #ddd;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
              margin: 0px 4px;
              transform: translateY(4px); }
            #wrap .swiper-wrapper .swiper-slide.web .inner .content .txt > p span:nth-of-type(2) strong:nth-of-type(1) {
              background: #5f4b8b; }
            #wrap .swiper-wrapper .swiper-slide.web .inner .content .txt > p span:nth-of-type(2) strong:nth-of-type(2) {
              background: #ff7913; }
            #wrap .swiper-wrapper .swiper-slide.web .inner .content .txt > p span:nth-of-type(2) strong:nth-of-type(3) {
              background: #ffb025; }
            #wrap .swiper-wrapper .swiper-slide.web .inner .content .txt > p span:nth-of-type(3) strong:nth-of-type(1) {
              background: #bfd8dd; }
            #wrap .swiper-wrapper .swiper-slide.web .inner .content .txt > p span:nth-of-type(3) strong:nth-of-type(2) {
              background: #f5e10d; }
            #wrap .swiper-wrapper .swiper-slide.web .inner .content .txt > p span:nth-of-type(3) strong:nth-of-type(3) {
              background: #393df2; }
      #wrap .swiper-wrapper .swiper-slide.others .inner .content {
        width: 100%;
        height: 100%;
        padding-left: 110px; }
        #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt {
          width: 100%;
          height: 70%;
          font-size: 0;
          overflow-y: scroll;
          padding-right: 70px; }
          #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt > p span {
            display: block;
            font: 400 15px/1 'Noto Sans KR';
            color: #666;
            margin-bottom: 10px; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt > p span:first-of-type {
              font: 500 16px/1 'Outfit';
              color: #333;
              margin-bottom: 20px;
              margin-top: 45px;
              font-style: italic; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt > p span strong {
              display: inline-block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 1px solid #ddd;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
              margin: 0px 4px;
              transform: translateY(4px); }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt > p span:nth-of-type(2) strong:nth-of-type(1) {
              background: #111; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt > p span:nth-of-type(2) strong:nth-of-type(2) {
              background: #f3f2eb; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt > p span:nth-of-type(3) strong:nth-of-type(1) {
              background: #111; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt > p span:nth-of-type(3) strong:nth-of-type(2) {
              background: #111; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt > p span:nth-of-type(3) strong:nth-of-type(3) {
              background: #111; }
          #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt a {
            display: inline-block;
            font: 500 15px/1 'Outfit';
            color: #444;
            padding: 15px 20px;
            margin-bottom: 30px; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt a i {
              font-size: 12px;
              margin-right: 5px;
              color: #444; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt a:nth-of-type(1) {
              border-top: 2px solid #333;
              border-bottom: 2px solid #333;
              border-right: 2px solid #333; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt a:nth-of-type(2) {
              border-top: 2px solid #333;
              border-bottom: 2px solid #333;
              border-right: 2px solid #333; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .txt a:nth-of-type(3) {
              border-top: 2px solid #333;
              border-bottom: 2px solid #333; }
        #wrap .swiper-wrapper .swiper-slide.others .inner .content .thumbnail {
          display: inline-block;
          position: relative;
          width: 49%;
          height: 30%;
          margin-right: 1%;
          padding-top: 40px; }
          #wrap .swiper-wrapper .swiper-slide.others .inner .content .thumbnail img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
          #wrap .swiper-wrapper .swiper-slide.others .inner .content .thumbnail::after {
            display: block;
            position: absolute;
            top: 28px;
            left: 10px;
            font: 400 11px/1 'Outfit';
            color: #fff;
            text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4); }
          #wrap .swiper-wrapper .swiper-slide.others .inner .content .thumbnail:nth-of-type(1) img {
            object-position: center 0%; }
          #wrap .swiper-wrapper .swiper-slide.others .inner .content .thumbnail:nth-of-type(1)::after {
            content: 'ounces';
            font-size: 17px;
            top: 46px; }
          #wrap .swiper-wrapper .swiper-slide.others .inner .content .thumbnail:nth-of-type(2) {
            margin-right: 0; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .thumbnail:nth-of-type(2) img {
              object-position: center 0%; }
            #wrap .swiper-wrapper .swiper-slide.others .inner .content .thumbnail:nth-of-type(2)::after {
              content: 'Saturday';
              font-size: 17px;
              top: 46px; }
          #wrap .swiper-wrapper .swiper-slide.others .inner .content .thumbnail:hover img {
            object-position: center bottom;
            transition: 4s ease-in; }
      #wrap .swiper-wrapper .swiper-slide.contact .inner .content {
        width: 100%;
        height: 100%;
        padding-left: 110px;
        position: relative;
        overflow-y: scroll; }
        #wrap .swiper-wrapper .swiper-slide.contact .inner .content .txt {
          width: 100%;
          font-size: 0; }
          #wrap .swiper-wrapper .swiper-slide.contact .inner .content .txt > p {
            font: 400 16px/1.6 'Noto Sans KR';
            color: #444;
            margin-bottom: 40px; }
        #wrap .swiper-wrapper .swiper-slide.contact .inner .content #contact-form {
          width: 50%;
          font-size: 0; }
          #wrap .swiper-wrapper .swiper-slide.contact .inner .content #contact-form input[type=text] {
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid #555;
            padding: 10px;
            font: 300 16px/1.4 'Noto Sans KR';
            color: #444;
            margin-bottom: 30px;
            transition: border 0.5s; }
            #wrap .swiper-wrapper .swiper-slide.contact .inner .content #contact-form input[type=text]:focus {
              outline: none;
              border-bottom: 2px solid #9ee082; }
          #wrap .swiper-wrapper .swiper-slide.contact .inner .content #contact-form textarea {
            width: 100%;
            background: linear-gradient(45deg, #a8cfd7, #9ee082);
            padding: 10px;
            font: 400 16px/1.4 'Noto Sans KR';
            color: #444;
            margin-top: 20px;
            margin-bottom: 30px;
            transition: 0.5s;
            border: none; }
            #wrap .swiper-wrapper .swiper-slide.contact .inner .content #contact-form textarea::placeholder {
              color: #fff; }
            #wrap .swiper-wrapper .swiper-slide.contact .inner .content #contact-form textarea:focus {
              outline: 2px solid #9ee082;
              background: transparent; }
          #wrap .swiper-wrapper .swiper-slide.contact .inner .content #contact-form input[type=submit], #wrap .swiper-wrapper .swiper-slide.contact .inner .content #contact-form input[type=reset] {
            width: 140px;
            height: 45px;
            background: transparent;
            font: 500 15px/45px 'Outfit';
            color: #444;
            text-align: center;
            border: none;
            cursor: pointer; }
          #wrap .swiper-wrapper .swiper-slide.contact .inner .content #contact-form input[type=submit] {
            border-top: 2px solid #333;
            border-bottom: 2px solid #333;
            border-right: 2px solid #333; }
          #wrap .swiper-wrapper .swiper-slide.contact .inner .content #contact-form input[type=reset] {
            border-top: 2px solid #333;
            border-bottom: 2px solid #333; }
      #wrap .swiper-wrapper .swiper-slide.contact .inner .copyright {
        position: absolute;
        bottom: 30px;
        left: 110px;
        padding-left: 60px;
        font: 300 15px/1 'Outfit'; }
  #wrap .swiper-button-next {
    top: 4vh;
    bottom: auto;
    right: 8vw;
    transform: scale(0.5);
    filter: brightness(5) saturate(0);
    opacity: 1; }
  #wrap .swiper-button-prev {
    top: 4vh;
    bottom: auto;
    left: auto;
    right: calc(8vw + 50px);
    transform: scale(0.5);
    filter: brightness(1) saturate(0);
    opacity: 1; }
  #wrap .swiper-pagination {
    position: absolute;
    top: 3vh;
    right: 15vw;
    left: auto;
    width: auto;
    height: 100px; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0px;
      margin-left: 40px;
      opacity: 0.5;
      font: 20px/1 'Syncopate';
      color: #fff; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1; }

/*# sourceMappingURL=style.css.map */
